﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="createlinks.ascx.cs" Inherits="BlogCMS.usercontrol.WebUserControl1" %>

<asp:SqlDataSource runat="server" ID="nav_select"
    ConnectionString ="<%$ ConnectionStrings:blog_sql_db %>">
</asp:SqlDataSource>


<ul id="nav_ul" runat="server"></ul>