﻿.tablerow {
    transition: background 100ms;
}

.tablerow:hover {
    background: #fff176 !important;
}

td {
    padding: 10px 30px;
}

#MainContent_article_list tr:first-child, #MainContent_article_list tr td:not(:first-child) {
    text-align: center;
}


#MainContent_article_list tr td:first-child {
    width: 40%;
}

#main_nav_uc_nav_list {
    display: inline-block;
    width: 80%!important;
    height: 50px;
    padding: 5px!important;
}

#main_nav_uc_nav_list tbody tr:first-child {
    display: none;
}

#main_nav_uc_nav_list tbody tr {
    display: inline-block;
}

#main_nav_uc_nav_list tbody tr:nth-child(2n+1) {
    background-color: inherit!important;
}


#main_nav_uc_nav_list tbody tr:hover {
    background-color: inherit!important;
}