﻿.inputrow {
    margin-bottom: 10px;
}

.inputrow > * {
    vertical-align: top;
}

.inputbtnrow {
    margin-left: 123px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}


.inputrow label {
    width: 100px;
    margin: 0px 10px;
}

.inputrow select, .inputrow input[type="text"], .inputrow textarea {
    width: 50%;
    max-width: none;
}

