﻿html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 50px;
}


#MainContent_articles_query {
    padding: 10px 20px;
    background-color: aquamarine;
    margin: 20px 0;
}

#MainContent_article_body {
    width: 80%;
    float: left;
    margin-right: 5%;
    white-space: pre-wrap;

}

#MainContent_article_page_actions {
    float: left;
    width: 15%;
}

#MainContent_article_page_actions a {
    display: block;
    padding: 5px;
}

footer {
    padding-top: 50px;
    clear: both;
}


#new-article-link {
    margin-bottom: 20px;
}


#MainContent_author_name, #MainContent_published_date, span {
    font-style: italic;
    margin: 0;
    padding: 0;
}

.searchrow {
    margin-bottom: 20px;
}

.searchrow input[type="text"] {
    width: 400px;
}

#MainContent_search_label {
    display: none;
    padding: 10px;
    font-size: larger;
    background-color: aqua;
}

#main_nav_uc_nav_ul {
    padding-top: 15px;
}

#main_nav_uc_nav_ul li{
    list-style: none;
    padding: 0 10px;
    display: inline-block;
}

#main_nav_uc_nav_ul li a {
    color: deepskyblue;
    text-decoration: none;
}

    #main_nav_uc_nav_ul li a:hover {
        color: #009aff;
    }